#narrative-text {
    padding: 0px 10px;
    margin-bottom: 25px; 

    min-height: 100px; 
    background-color: aliceblue; 
    border-radius: 8px; 

    font-size: 14px;
    line-height: 1.6;
    color: #333;          
    text-align: left;

    max-width: 800px; 
    margin-left: 0px;
}

#controls{
    margin-bottom: 15px;
}


.tooltip {
    position: absolute;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 8px;
    border-radius: 4px;
    pointer-events: none;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.annotation-group path,
.annotation-group line { 
    stroke: grey;
    stroke-width: 1px;
}
.annotation-group text { 
    font-family: Georgia, serif; 
    fill: #555; 
}
.annotation-group .annotation-note-title {
    font-weight: bold;
    fill: #333;
}